.big-card-description {
  position: absolute;
  bottom: 10px;
  left: 41%;
  h2 {
  font-size: 24px;
  }
  p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
  }
}

.reviews {
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 20px;
  }
}
