<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <img src="http://monlimoilou.com/wp-content/uploads/sites/2/2012/08/1384451187logo.png" alt="logo">
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <%= link_to "Restaurants", restaurants_path, class: "navbar-wagon-item navbar-wagon-link"%>
  </div>
</div>

